<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="createdAt">createdAt</label>
        <input
          type="text"
          class="form-control"
          name="createdAt"
          [(ngModel)]="form.createdAt"
          #createdAt="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="expenseTitleId">expenseTitleId</label>
        <input
          type="text"
          class="form-control"
          name="expenseTitleId"
          [(ngModel)]="form.expenseTitleId"
          #expenseTitleId="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="amount">amount</label>
        <input
          type="amount"
          class="form-control"
          name="amount"
          [(ngModel)]="form.amount"
          #amount="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="comments">comments</label>
        <input
          type="comments"
          class="form-control"
          name="comments"
          [(ngModel)]="form.comments"
          #comments="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="currencyName">currencyName</label>
        <input
          type="currencyName"
          class="form-control"
          name="currencyName"
          [(ngModel)]="form.currencyName"
          #currencyName="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="exchangeRateToRuble">exchangeRateToRuble</label>
        <input
          type="exchangeRateToRuble"
          class="form-control"
          name="exchangeRateToRuble"
          [(ngModel)]="form.exchangeRateToRuble"
          #exchangeRateToRuble="ngModel"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Store</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Storing failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your storing is successful!
    </div>
  </div>
</div>

