version: "3.9"
services:
  postgres_db:
    image: "postgres:12"
    restart: always
    ports:
      - "5431:5432"
    environment:
      POSTGRES_DB: "wereL"
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "root"

  redis:
    image: "redis:alpine"
    hostname: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6378:6379"

  api_service:
    build: .
    restart: always
    ports:
      - "8888:8888"
    environment:
      SPRING_DATASOURCE_URL_DB: jdbc:postgresql://postgres_db:5432/wereL
      SPRING_DATASOURCE_USERNAME_DB: root
      SPRING_DATASOURCE_PASSWORD_DB: root
    depends_on:
      - postgres_db
      - redis
#  app-client:
#    build:
#      context: /home/badma/IdeaProjects/pgk_voice_recognition # Use an image built from the specified dockerfile in the `angular-11-social-login` directory.
#      dockerfile: Dockerfile
#    ports:
#      - "4200:80" # Map the exposed port 80 on the container to port 8081 on the host machine
#    restart: always
#    depends_on:
#      - api_service
volumes:
  server_data:




