<form [formGroup]="dynamicForm">

  <mat-form-field>
    <mat-select
      formControlName="currencyName"
      placeholder="Currency"
      (selectionChange)="onSearch2Change($event.value)">

      <mat-option

        *ngFor="let currencyName of currencyNames"

        [value]="currencyName">

        {{ currencyName }}

      </mat-option>
    </mat-select>

  </mat-form-field>
  <mat-form-field
  >
    <input matInput type="text" formControlName="exchangeRateToRuble" (change)="onSearchChange($any($event.target).value)"
           placeholder="Rate">

    <button *ngIf="exchangeRateToRuble" matSuffix mat-icon-button aria-label="Clear" (click)="exchangeRateToRuble=''">
      <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>
  <div formArrayName="filters">
    <div
      *ngFor="let filter of filtersFormArray.controls; let i = index;">

      <div
        [formGroupName]="i"
        class="container">

        <mat-form-field>
          <mat-select
            placeholder="Category"
            formControlName="filterType"

           (selectionChange)="onChangeCategory($event.value, i)">

            <mat-option

              *ngFor="let filterType of filterTypes"
              [value]="filterType.id">
              {{ filterType.categoryName }}

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select

            (selectionChange)="selectedAPIChanged(i)"
            placeholder="Expense"
            #apiField
            formControlName="expenseTitleId">
            <mat-option
              *ngFor="let expenseTitleId of expenseTitleIds[i]"
              [value]="expenseTitleId.id">
              {{ expenseTitleId.expenseName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
        >
          <input
            matInput
            placeholder="Amount"
            formControlName="amount"

            >
        </mat-form-field>
        <mat-form-field
        >
          <input
            matInput
            placeholder="Comment"
            formControlName="comment"
            [value]="comment"
          >
        </mat-form-field>


        <mat-icon
          (click)="removeFilterFromFiltersFormArray(i)">
          delete
        </mat-icon>

      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addFilterToFiltersFormArray()">
      Add Filter
    </button>

    <button
      class="save"
      mat-stroked-button
      color="primary"
      [disabled]="dynamicForm.invalid || filtersFormArray.controls.length < 1"
      (click)="save()">
      Save
    </button>

  </div>
</form>
