p {
  font-family: Lato;


}

.container {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.container > * {
 font-size: 16px;

  width: 25%;
}

mat-icon {
  text-align: right;

  margin-top: 15px;
  cursor: pointer;
}

.myclass {

    font-size: 12px;
}

.save {
  float: right;
}


.mat-form-field {
  width: 100%;
}

.message {
  background-color: #ddd;
  padding: 15px;
  color: #333;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.box {

padding-top: 200px;
  font-size: 12px;

}

