
<div class="sub-categories-container">
  <h2>SubCategory</h2>


  <mat-form-field [style.width.%]="20">
    <mat-select [(ngModel)]="categoryId"
                (selectionChange)="onChangeCategory($event.value)"
                placeholder="Category">
      <mat-option *ngFor="let filterType of filterTypes" [value]="filterType.id">
        {{ filterType.categoryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Показываем все expenseTitleIds сразу после выбора категории -->
  <div *ngIf="expenseTitleIds?.length">
    <mat-list>
      <mat-list-item *ngFor="let expense of expenseTitleIds">
        <div class="list-item-content" style="width:50%; display:flex; align-items:center; justify-content:space-between;">
          <div class="expense-name">{{ expense.expenseName }}</div>

          <div class="actions" style="display:flex; gap:2px; align-items:start;">
            <button mat-icon-button color="primary"
                    (click)="startEdit(expense); $event.stopPropagation(); $event.preventDefault()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>

        <!-- Блок редактирования для конкретной строки -->
        <div *ngIf="editedId === expense.id" class="edit-block" style="width:50%; margin-top:1px; display:flex; gap:20px; align-items:start;">
          <mat-form-field appearance="outline" class="edit-field" style="flex:1; margin:0; background:#fff;">
            <input matInput [(ngModel)]="editedName" (click)="$event.stopPropagation();" style="background:#fff; padding:6px 8px; border-radius:4px;" />
          </mat-form-field>

          <button mat-button color="primary"
                  (click)="saveEdit(expense); $event.stopPropagation()"
                  [disabled]="isSaving">
            <mat-spinner *ngIf="isSaving" diameter="20"></mat-spinner>
            <span *ngIf="!isSaving">Save</span>
          </button>

          <button mat-button color="warn"
                  (click)="cancelEdit(); $event.stopPropagation()"
                  [disabled]="isSaving">
            Cancel
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="add-sub-category">
    <h3>Add new one</h3>

    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="new subCategory name" [(ngModel)]="newSubCategoryName">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addSubCategory()">Add</button>
  </div>

