<mat-toolbar  color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">Menu</button>
    <mat-menu #menu="matMenu" >
      <button routerLink="recordlist" mat-menu-item>New Record</button>
      <button routerLink="report" mat-menu-item>Sum by Category</button>
      <button routerLink="categoryByTime" mat-menu-item>Sum by Time</button>
      <button routerLink="history" mat-menu-item>History</button>
    </mat-menu>
    <button mat-flat-button color="primary" routerLink="profile" *ngIf="isLoggedIn">
      {{ email }}
    </button>

    <button mat-button routerLink="/register" *ngIf="!isLoggedIn">
      Sign-up
    </button>
<!--    <button mat-button routerLink="/history" *ngIf="isLoggedIn">-->
<!--      History-->
<!--    </button>-->

    <button mat-button routerLink="/login" *ngIf="!isLoggedIn">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>

  <button mat-menu-item routerLink="/login" *ngIf="!isLoggedIn">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>

  <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>

